<div>
  <h1>アカウント情報</h1>
  <p>ユーザー名: <%= @user.name %></p>
  <p>メールアドレス: <%= @user.email %></p>
  <p>パスワード: ******</p>
  <br/ >
  <%= link_to "アカウント情報の編集", edit_user_registration_path %>
</div>
<div>
  <h1>視聴履歴</h1>
  <% @video_histories.each do |video_history| %>
    <div>
      <p>
        <%= link_to video_history.video.title, video_path(video_history.video), id: "video-history-#{video_history.video.id}", data: { video_id: video_history.video.id }, target: "_blank" %>
        <% if video_history.video.thumbnail_url.present? %>
          <%= image_tag video_history.video.thumbnail_url %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
<div>
  <h1>お気に入り動画</h1>
  <% @video_favorites.each do |video_favorite| %>
    <div>
      <p>
        <%= link_to video_favorite.video.title, video_path(video_favorite.video), id: "video-favorite-#{video_favorite.video.id}", data: { video_id: video_favorite.video.id }, target: "_blank" %>
        <% if video_history.video.thumbnail_url.present? %>
          <%= image_tag video_favorite.video.thumbnail_url %>
        <% end %>
      </p>
    </div>
  <% end %>
