<!DOCTYPE html>
<html lang="ja" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instant Web Video Edit</title>
  <meta name="description" content="YouTube 動画をその場で編集し、タイムスタンプ単位でクリップ保存。">
  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>

<body class="flex flex-col text-base text-gray-800 bg-white h-screen <%= user_signed_in? ? 'logged-in' : 'logged-out' %>">

  <%= render 'layouts/header' %>
  <%= render 'layouts/flash_message' %>

  <main class="flex flex-1 px-4 bg-sky-50">
    <div class="flex w-full py-8">
      <div class="flex flex-none basis-[95%] mx-auto bg-white">
        <%= yield %>
      </div>
    </div>  
  </main>

  <%= render 'layouts/footer' %>
  
</body>
</html>
